<h4>Приход</h4>
<table>
  <thead>
    <th>#</th>
    <th>Дата</th>
    <th>От кого</th>
    <th>Сумма</th>
    <th>Тип</th>
    <th>Назначение</th>
    <th>Ввёл</th>
  </thead>
  <tbody>
    <% records.each do |record| %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
